@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins-Medium";
    /* src: url(""); "../fonts/Poppins/Poppins-Medium.ttf" */
  }
}

@media only screen and (max-width: 780px) {
    .bg-blue-10{
        background-color: blue;
    }
}



/* create custom check box */
.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    margin-top: -8px;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px #d9d9d9 solid;
    border-radius: 2px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px #d9d9d9 solid;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark::after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark::after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #6c36b0;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
  }

  .scroll-container {
    width: 80%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar on WebKit browsers */
  }
  
  .scroll-content {
    display: inline-flex;
    transition: transform 0.3s ease;
  }
  
  .item {
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
  
  }

  .bg-custom-image {
    min-height: 688px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../public/rectangle@2x.png');
    background-position: center;
    max-width: 100%; /* Ensures the div does not stretch beyond the width of its container */
    overflow: hidden; /* Prevents content from causing the div to stretch */
    width: 100%; 
  }
  .bg-custom-black-image{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 1.67%, rgba(0, 0, 0, 0.81) 74.96%, #000 83.1%);
    opacity: 0.8;
  }


  .grid-template-row-min-content{
    grid-template-rows: min-content;
  }

  .grid-auto-flow-colums{
    grid-auto-flow: column;
  }

  .grid-auto-columns-10per{
    grid-auto-columns: 10%;
  }

  .overflow-inline-behaviour-scroll{
    overscroll-behavior-inline: contain;
  }

  .image-select-none{
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }

  .rotate-90deg{
    transform: rotate(90deg);
  }

  .transition{
    transition: all 0.3s ease-in-out;
  }