@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins-Medium";
    /* src: url(""); "../fonts/Poppins/Poppins-Medium.ttf" */
  }
}

@media only screen and (max-width: 780px) {
    .bg-blue-10{
        background-color: blue;
    }
}



/* create custom check box */
.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    margin-top: -8px;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border: 1px #d9d9d9 solid;
    border-radius: 2px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px #d9d9d9 solid;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark::after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark::after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #6c36b0;
    border-width: 0 2px 2px 0;
    transform: rotate(35deg);
  }